/*títol*/
h1 {
    color: rgb(131, 181, 47);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
    text-align: center;
  }

  h1 .grey{
    color: rgb(90, 90, 92);
  }

  /*logo*/
.logo{
    padding: 20px;
}

/*nav bar*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(90, 90, 92);
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(131, 181, 47);
}










